{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}
	Writerrific - {{ title }}
	{% else %}
	Writerrific
	{% endif %}
{% endblock %}

{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
	
<li class="active"><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% else %}
  <li><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% endif %}
{% endmacro %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ url_for('home')}}">Writerrific</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		{{ nav_link('index', 'Explore') }}
		{{ nav_link('advice', 'Advice') }}
      </ul>
	  {% if users %}
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" id="search_bar" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
	  {% endif %}
      <ul class="nav navbar-nav navbar-right">
		{% if current_user.is_anonymous %}
		<li><a href="{{ url_for('login') }}">Login</a></li>
		{% else %}
		<li><a href="{{ url_for('user', username=current_user.username) }}">{% if current_user.profile_pic %}<span><img src="{{ current_user.profile_pic }}" alt="user profile pic" style="width: 22px; height: 22px;display: inline;"></span>{% else %}<span><img src="/static/logo.jpg" alt="user avatar" style="width: 22px; height: 22px;display: inline;"></span>{% endif %}<span> {{ current_user.username }}</span></a></li>
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
		{% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
	
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="container" style="margin-top: 70px;">
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		</div>
		{% endif %}
		{% endwith %}
	
	
			
	{% block app_content %}
	{% endblock %}
	
	{% block footer %}
	<footer style="position: fixed;left: 0;bottom: 0;width: 100%;background-color: #efefef;  color: black;text-align: center;font-size: 12px;margin-top:25px;">© 2019 Writerrific All Right Reserved</footer>
	{% endblock %}

{% endblock %}

{% block styles %}
	<meta name="description" content="Writers and readers superhighway">
	<meta name="keywords" content="write book ebook writer reader books">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ super() }}
	<link rel="shortcut icon" href="/static/logo.jpg">
	{% if current_user.is_authenticated %}
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
	{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
    {{ moment.include_moment() }}
	{% if current_user.is_authenticated %}
	<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
	<script>
		window.cookieconsent.initialise({
		  "palette": {
			"popup": {
			  "background": "#000"
			},
			"button": {
			  "background": "#f1d600"
			}
		  }
		});
	</script>
	{% endif %}
{% endblock %}

