{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}
	{{ title }} - Writerrific
	{% else %}
	Writerrific
	{% endif %}
{% endblock %}


<!--     not used having error in errors page >
{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
	
<li class="active"><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% else %}
 <li><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% endif %}
{% endmacro %}
------------------------------------------------------------->

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ url_for('home')}}"><span class="navbar_hover" style="border: 1px solid;border-radius: 5px;padding: 4px;"><!--img src="/static/icon.jpg" alt="Writerrific logo" style="width: 24px; height: 24px;"--><span style="font-family:serif; font-size:20px;border: 1px solid;border-radius: 5px;padding: 2px">W</span></span><span class="navbar_hover" style="font-family:serif; font-size:30px;;"> Writerrific</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<li><a href="{{ url_for('index') }}">Front Page</a></li>
		<li><a href="https://brave.com/wri872" target="_blank">Get BRAVE</a></li>
      </ul>
	  {% if users %}
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" id="search_bar" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
	  {% endif %}
      <ul class="nav navbar-nav navbar-right">
		{% if current_user.is_anonymous %}
		<li><a href="#" data-toggle="modal" data-target="#register_modal">Start writing</a></li>
		{% else %}
		<li><a href="{{ url_for('user', username=current_user.username) }}">{% if current_user.profile_pic %}<span><img src="{{ current_user.profile_pic }}" alt="user profile pic" style="width: 22px; height: 22px;display: inline;border-radius: 5px;"></span>{% endif %}<span><strong> {{ current_user.username }}</strong> </span></a></li>
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
		{% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
		<!-- facebook js sdk-->
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="container">
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		</div>
		{% endif %}
		{% endwith %}
	
	
			
	{% block app_content %}
		
	{% endblock %}
	{% if current_user.is_anonymous %}
	<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="register_modalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content" style="position: relative;">
			<img id="login_modal_img" src="https://cdn.pixabay.com/photo/2016/10/18/20/33/bookshelves-1751334_960_720.png" style="display:inline;">
			<p class="text-center" style="font-size: 12px;">Image by <a href="https://pixabay.com/users/GDJ-1086657/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1751334" style="color:black;">Gordon Johnson</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1751334" style="color:black;">Pixabay</a></p>
		  <div class="modal-body" style="width:100%; top: 0;position:absolute;">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="form-container" id="register_form">
			{{ wtf.quick_form(register_form) }}
			<span id="already_reg_span">Already registered? <a href="#" id="sign_in_" style="color: #f50000;">Sign in!</a></span>
			<!--a href="{{ url_for('oauth_authorize', provider='facebook') }}"><img src="https://scontent.ffjr1-1.fna.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?_nc_cat=105&amp;_nc_ohc=OByjKA7UPO8AX8fJOcp&amp;_nc_ht=scontent.ffjr1-1.fna&amp;oh=26cdea3137882cd219ea6ba5ec1b678b&amp;oe=5E8E51EA" width="180px;"></a-->
			
			</div>
			<div class="form-container" id="login_form">
			{{ wtf.quick_form(login_form) }}
			<br>
			<!--a  href="{{ url_for('oauth_authorize', provider='facebook') }}"><img src="https://scontent.ffjr1-1.fna.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?_nc_cat=105&amp;_nc_ohc=OByjKA7UPO8AX8fJOcp&amp;_nc_ht=scontent.ffjr1-1.fna&amp;oh=26cdea3137882cd219ea6ba5ec1b678b&amp;oe=5E8E51EA" width="180px;"></a-->
			<br>
			<span id="policy_span" >By signing in you accept our <a href="{{url_for('terms_of_service')}}" style="color:black;">Terms of Service</a> and <a href="{{url_for('privacy_policy')}}" style="color:black;">Privacy Policy</a>.</span>
			
			<p id="forgot_password_p"><a href="{{ url_for('reset_password_request') }}" style="color:#f50000;">Forgot Your Password? </a> <a href="#" id="register_" style="color:#f50000;"> Register?</a></p>
			
			</div>
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}
	{% block footer %}
	
	<div class="container" style="position:fixed; left: 0;bottom: 0;width: 100%; background-color: #000; color: #fff; /*text-align: center;*/font-size: 16px;font-family: 'Merriweather', serif;">
	<span>
		© 2019 Writerrific, All rights reserved.
	</span>
	<span style="float:right;">Contact us at support@writerrific.com</span>
	</div>
	{% endblock %}

{% endblock %}

{% block styles %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129673699-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-129673699-3');
	</script>

	{% if description %}
	<meta name="description" content="{{ description }}">
	{% else %}
	<meta name="description" content="Writerrific!">
	{% endif %}
	{% if keywords %}
	<meta name="keywords" content="{{ keywords }}">
	{% else %}
	<meta name="keywords" content="write book ebook writer reader books terrific written create content blogs novel journal journalism">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ super() }}
	<link rel="shortcut icon" href="/static/ico.ico">
	
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

	<!--link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Nanum+Gothic|Roboto&display=swap" rel="stylesheet"-->
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Bitter|Crimson+Text|Dancing+Script|Indie+Flower|Lato|Libre+Baskerville|Lobster|Lora|Merriweather|Montserrat|Nanum+Gothic|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Pacifico|Playfair+Display|Quicksand|Raleway|Roboto|Rubik|Shadows+Into+Light|Teko|Titillium+Web|Ubuntu|Varela+Round|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
	<style>
	body { padding-top: 70px; padding-bottom: 80px; font-size: 16px; font-family: 'Roboto', sans-serif;}
	.navbar-default {
		/*background-color: #ca0707;*/
		background-color: #ffffff;
		border-color: #ffcdd2;
	}
	.navbar-default .navbar-brand {
		color: #f50000;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
		color: #ef9a9a;
		background-color:  transparent;
		border-radius: 5px;
	}
	.navbar-default .navbar-nav>li>a {
		color: #f50000;
	}
	.navbar-default .navbar-toggle {
		border-color: #f50000;
	}
	.navbar-default .navbar-toggle:hover {
		/*background-color: #b71c1c;*/
		color: #f50000;
	}
	.navbar-default .navbar-toggle .icon-bar {
		/*background-color: #b71c1c;*/
		color: #f50000;
	}
	/*a.navbar-brand .navbar_hover:hover {
		color: #ef9a9a;
	}*/
	/*a.navbar-brand:hover {
		color: #ef9a9a;
	}*/
	.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
		color: #ef9a9a;
		background-color: transparent;
	}
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
		color: #ef9a9a;
		background-color: transparent;
	}
	#register_form .form-control, #login_form .form-control {
		color: #f50000;
	}
	
	#register_modal .modal-dialog {
		width: 56%;
		/*height: 720px;*/
	}
	#register_modal .modal-dialog .modal-content #login_modal_img {
			width: 100%;
			//height: 520px;
		}
	#already_reg_span {
		font-size:12px;
		margin-left:50px;"
	}
	#policy_span, #forgot_password_p {
		font-size:12px;
		
	}
	#register_modal .modal-dialog {
		top: 10px;
	}
	
	.btn_facebook {
		background-color: #1877f2;
	}
	
	@media (max-width: 560px){
		#register_modal .modal-dialog {
			width: 90%;
			
			margin: 0 auto;
		}
		
		#register_modal .modal-dialog .modal-content #login_modal_img {
			width: 100%;
			height: 420px;
		}
		#register_modal .modal-dialog .modal-content .form-container {
			font-size: 12px;
			margin-top: 12px;
		}
		#register_modal .modal-dialog .modal-content .form-container .form-control {
			height: 28px;
		}
		#register_modal .modal-dialog .modal-content .form-container .control-label {
			background: white;
			border-radius: 4px;
			padding: 4px;
		}
		#already_reg_span, #policy_span, #forgot_password_p {
			margin-left: 0;
			background: white;
			border-radius: 4px;
			padding: 4px;
			font-size: 10px;
		}
		#register_submit {
			margin-bottom: 5px;
		}
	}
	</style>
{% endblock %}

{% block scripts %}

{{ super() }}
    {{ moment.include_moment() }}
	
	<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
	<script>
		window.cookieconsent.initialise({
		  "palette": {
			"popup": {
			  "background": "#000"
			},
			"button": {
			  "background": "#f1d600"
			}
		  }
		});
	</script>
	<script>
		FB.getLoginStatus(function(response) {
		statusChangeCallback(response);
	});
	function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      testAPI();  
    } else {                                 // Not logged into your webpage or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this webpage.';
    }
  }
  
  function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
	</script>
	<!--script>
	$(document).ready(function() {
		if ('serviceWorker' in navigator) {
		  window.addEventListener('load', function() {
			navigator.serviceWorker.register('../sw.js').then(function(registration) {
			  // Registration was successful
			  console.log('ServiceWorker registration successful with scope: ', registration.scope);
			}, function(err) {
			  // registration failed :(
			  console.log('ServiceWorker registration failed: ', err);
			});
		  });
		}
	});
	</script-->
	
{% endblock %}

