{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container" style="margin-bottom: 50px;">
<div class="col-md-2"></div>
<div class="col-md-8">
	<form action method="post" class="form" role="form">
		{{form.csrf_token() }}
		<div class="row">
			{{ form.chapter_id (value=chapter.id)}}
			<div class="col-md-2">
			{{ form.edit_chapter_number.label (class_='control-label') }}
			{{ form.edit_chapter_number (class_='form-control', value=chapter.chapter_no) }}
			</div>
			<div class="col-md-10">
			{{ form.edit_chapter_title.label (class_='control-label') }}
			{{ form.edit_chapter_title (class_='form-control', value=chapter.chapter_title) }}
			</div>			
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				{{ form.edit_body.label (class_='control-label') }}
				{{ form.edit_body(only_preview=True) }}
			</div>
		</div>
		<div class="row" >
			<div class="col-md-1 col-sm-1 col-xs-1"></div>
			<div class="col-md-11 col-sm-11 col-xs-11">
				<textarea class="flask-pagedown-input" cols="100" rows="18" id="flask-pagedown-edit_body" name="edit_body" required>{{chapter.chapter_body}}</textarea>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1"></div>
		</div>
		<div class="col-md-12">
		<br>
		{{ form.save (class_="btn btn-default") }}
		</div>	
	</form>	
</div>
<div class="col-md-2"></div>
</div>

{% endblock %}

{% block styles %}
{{ super() }}
<style>
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.navbar-brand img {display: inline;}
@media (max-width: 960px) {
	  #flask-pagedown-edit_body {
		width: 300px;
		height: 300px;
	  }
	}
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}