{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
	<div class="row">
        <div class="col-md-6">
			<h1>Edit Profile</h1>
            {{ wtf.quick_form(form) }}
			
        </div>
		
    </div>
    <!--h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label (class_="control-label")}}<br>
            {{ form.username(size=32, class_="form-control") }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label (class_="control-label")}}<br>
            {{ form.about_me(cols=50, rows=4, class_="form-control") }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit (class_="btn btn-default")}}</p>
    </form>
</div-->
{% endblock %}