{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
	<div class="row">
        <div class="col-md-6">
			<h1>Edit Profile</h1>
            {{ wtf.quick_form(form) }}
			
        </div>
		
    </div>
   
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$("#profile_pic").on('change', function () {
	var size = $(this)[0].files[0].size;
	if (size > 629145) {
		$("#profile_pic").after("<p id='file_size_alert' class='alert alert-danger alert-dismissible' role='alert'>File size too large! Please change or edit image size.</p>");
		$("#submit").css('display', 'none');
	}
	else{
		$("#file_size_alert").css('display', 'none');
		$("#submit").css('display', 'block');
	}
	
});

</script>
{% endblock %}