{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
	{% if projects %}
	<h2 style="font-family: 'Merriweather', serif;">Find something to read or {% if current_user.is_authenticated %}<button class="btn btn-default" href="#" data-toggle="modal" data-target="#create_project_modal" style="font-size:18px;font-weight:bold;font-family: 'Merriweather', serif;color:#f50000;border-color:#ffebee;">Start writing !</button>{% else %}<a href="{{ url_for('login') }}"><button class="btn btn-default" style="font-size:18px;font-weight:bold;font-family: 'Merriweather', serif;border-color:#ffebee;">Start writing !</button></a>{% endif %}</h2>
    {% for project in projects %}
	<div class="col-md-8">
		{% include 'stories_.html' %}
	</div>
    {% endfor %}
	{% elif for_advice_projects %}
	<h2>Give advice on unpublished works.</h2>
    {% for project in for_advice_projects %}
		{% include '_project.html' %}
    {% endfor %}
	{% endif %}
	<nav aria-label="...">
	  <ul class="pager">
		{% if prev_url %}
		<li class="previous"><a href="{{ prev_url }}><span aria-hidden="true">&larr;</span> Older</a></li>
		{% endif %}
		{% if next_url %}
		<li class="next"><a href="{{ next_url }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
		 {% endif %}
	  </ul>
	</nav>
</div>
<div class="modal fade" id="create_project_modal" tabindex="-1" role="dialog" aria-labelledby="create_project_modalLabel" style="font-family: 'Merriweather', serif; color:#f50000;">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ wtf.quick_form(form) }}
		  </div>
		</div>
	  </div>
	</div>
{% endblock %}

{% block styles %}
{{super()}}
<style>
	.btn-default:active:hover, .btn-default:active:focus{ 
		background-color: #ffebee;
		
	   }
	.btn-default:hover, .btn-default:focus { 
		background-color: #ffebee;
		
	   }
	.btn-default:active { 
		background-color: #ffebee;
		
		}
		
	.form-container {
		position: absolute;
		margin-top: 25%;
		width: 40%;
		margin-left: 31%;
		color: #f50000;
	}
	#submit {
		color: #f50000;
		font-size: large;
		border-color : #f50000;
	}
	#register {
		color: #f50000;
		font-size: large;
		border-color : #f50000;
	}
	.form-control {
		border-color: #ffcdd2;
	}
</style>
<!--style>
	/*.table-bordered>tbody>tr>td {
	  border: 1px solid black;
	}*/
	/*.img_container {
		position: relative;
		max-width: 100%;
		margin:0 auto;
		padding: 20px;
		border-radius: 10px;
	}
	.img_container .img_content {
		position: absolute;
		width: 80%;
		bottom: 0;
		/*margin: 0px auto;*/
		margin-left: 8%;
		margin-bottom: 20px;
		padding: 20px;
		background: rgb(0, 0, 0); /* Fallback color*/
		background: rgba(0, 0, 0, 0.3);
		color: #f1f1f1;
	}
	.img_container .img_content img {
			width:64px;
			height:64px;
			margin:10px;
			display: inline;
			border-radius: 5px;
		}
	.img_container .img_content .author-username {
			font-size: 18px;
			color:#f6f6f6;
		}
	
	@media (max-width: 960px) {
		.img_container .img_content {
			max-height: 400px;
			/*white-space: nowrap;*/
			overflow: hidden;
			text-overflow: ellipsis;
			margin-left: 5%;
		}
		.img_container .img_content div.project-introduction {
			max-height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.img_container .img_content img {
			width:32px;
			height:32px;
			margin:10px;
		}
		.img_container .img_content .author-username {
			font-size: 14px;
			color:#f6f6f6;
		}*/
		
		/*.img_container .img_content .project-introduction {
			padding: 3px; 
			width: 130px; 
			word-break: break-all; 
			word-wrap: break-word;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 200px;
		}*/
	}
</style-->
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(document).ready(function() {
	$("#login_form").css("display", "none");
	$("#sign_in_").click(function() {
		$("#login_form").css("display", "block");
		$("#register_form").css("display", "none");
	});
	$("#register_").click(function() {
		$("#login_form").css("display", "none");
		$("#register_form").css("display", "block");
	});
});

</script>
{% endblock %}