{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container" style="margin-bottom: 40px;">
    <div class="row">
		<div class="media col-md-12">
			<table class="table table-bordered table-hover" style=" border-collapse: separate !important;;border-radius: 1em;overflow: hidden; margin-bottom:5px;">
				<tr>
					<td>
						<h1 class="text-center">{{ project.title }}</h1>
						<a href="{{url_for('user', username=project.author.username)}}"><div class="text-center">Author: {{ project.author.username }}</div></a>{% if current_user.is_authenticated %}{% if current_user.is_superuser() == True %}<span><a href="{{url_for('quarantine_project', id=project.id)}}">Quarantine</a></span>{% endif %}{% endif %}
						<div><span class="text-center">Genre: <span style="color: blue;">{% for p in project.genre %}{{ p.name }}, {% endfor %}</span></span><span style="float:right;">{% if last_date_submitted%}Last updated: {{ moment(last_date_submitted).calendar() }}{% endif%}</span></div>
						
					</td>
					
				</tr>
				<tr>
					<td>{{ project.synopsis }}</td>
				</tr>
				<tr>
					<td>
					<span class="col-md-3 col-sm-2 col-xs-2">
						<div>
							{% if current_user.is_authenticated %}{% if project.upvoted(current_user) %}
							<span class="btn btn-primary upvote" aria-label="Left Align" style="padding:2px 8px;"><a href="{{ url_for('upvote', id=project.id) }}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"style="color:white;"></span></a></span>
							{% else %}
							<span class="btn btn-default upvote" aria-label="Left Align" style="padding:2px 8px;"><a href="{{ url_for('upvote', id=project.id) }}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></span>
							{% endif %}
							<span style="font-size: 11px;font-style:italic;color:blue;"> {% if project.upvotes %}{{ project.upvoters.count()}} {% else %}0 {% endif %} </span>{% endif %}
						</div>
						<div>
							{% if current_user.is_authenticated %}{% if project.downvoted(current_user) %}
							<span class="btn btn-danger" aria-label="Left Align" style="padding:2px 8px;"><a href="{{ url_for('downvote', id=project.id) }}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color:white;"></span></a></span>
							{% else %}
							<span class="btn btn-default" aria-label="Left Align" style="padding:2px 8px;"><a href="{{ url_for('downvote', id=project.id) }}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a></span>
							{% endif %}
							<span style="font-size: 11px;font-style:italic;color:red;"> {% if project.downvotes %}{{ project.downvoters.count() }} {% else %}0 {% endif %}</span>{% endif %}
						</div>
					</span>
					<span class="col-md-6 col-sm-4 col-xs-4 text-center">
						{% if project.date_published %}
						<div>
							<span class="btn btn-default" aria-label="Right Align" style="padding:2px 8px;pointer-events: none;color: #dce3f3;  background-color:#153b9c;border-color: #858cec;">Book score: {{project.project_score()}}</span>
						</div>
						<div>
							<span class="btn btn-default" aria-label="Right Align" style="padding:2px 8px;pointer-events: none;color: #dce3f3;  background-color:#153b9c;border-color: #858cec;">Author score: {{ project.author.author_confidence()}}</span>
						</div>
						{% endif %}
					</span>
					<span class="col-md-3 col-sm-3 col-xs-3">
						{% if project.date_published %}
						<div class="col-md-10 col-sm-9 col-xs-9">
						{% if current_user.is_authenticated and project.is_purchased(current_user)%}
						<a href="{{ url_for('project', id=project.id, title=project.title) }}"><input class="btn btn-primary" value="View in library"></a>
						{% elif current_user.is_authenticated and project.author == current_user %}
						<a href="{{ url_for('project', id=project.id, title=project.title)}}"><input class="btn btn-default" value="View in portfolio"></a>
						{% elif current_user.is_authenticated %}
						<a href="{{ url_for('add_to_library', id=project.id)}}"><input class="btn btn-default" value="Add to library"></a>
						{% else %}
						<a href="{{ url_for('project', id=project.id, title=project.title)}}"><input class="btn btn-default" value="Read Story"></a>
						{% endif %}
						</div>
						{% endif %}
					</span>
					</td>
				</tr>
			</table>
			<div class="col-md-12"><span><a href="#" id="view_comments">Comments</a></span>{% if project.date_published %}<span><a href="#" id="view_reviews"> &nbsp;&nbsp;Reviews</a></span>{% endif %}</div>
			<div class="col-md-12" id="comment_form">
			<br>
				<div class="col-md-1">
				</div>
				{% if form %}
				<div class="col-md-10">
					<form action method="post" class="form" role="form">
						{{ form.hidden_tag() }}
						<div class="form-group required">
							{{ form.comment.label (class_="control-label")}}
							<span id="comment_count" style="float:right; font-size:10px;"></span>
							{{ form.comment(class_="form-control") }}
						</div>
						{{ form.submit (class_="btn btn-default") }}
					</form>
				</div>
				{% endif %}
				<div class="col-md-1">
				</div>
			</div>
			<div class="col-md-12" style="margin-top: 20px;">
				<div class="col-md-1">
				</div>
				{% if project.date_published %}
				<div class="col-md-10"  id="review_container">
					<p><strong>Reviews: </strong></p>
					{% for review in reviews %}
						{% include '_review.html' %}
					{% endfor %}
				</div>
				{% endif %}
				<div class="col-md-10" id="comment_container">
					<p><strong>Comments: </strong></p>
					{% for comment in comments %}
						{% include '_comment.html' %}
					{% endfor %}
				</div>
				<div class="col-md-1">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block style %}
{{super()}}
<!--style>
@media (max-width: 960px) {
	  #proj_sidenav     { display: none; }
	  #comment_btn { display: none; }
	  #publish_btn { display: none; }
	  #publish_project {
		color:#0884e6;
		font-weight: bold;
	  }
	  #post_for_advice {
		color:#0884e6;
		font-weight: bold;
	  }
	  #proj_sidenav_mobile { 
		display: inline-block;
		margin-top: 34px;
		position: fixed;
		z-index: 99;
		bottom: 0;
		left: 0;
		}
		#chapter_edit_mobile {
			display: inline-block;
		}
		.main_body {
			margin-left: 0;
		}
	}

</style-->
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(document).ready(function(){
	{% if project.date_published %}
	$("#comment_form").hide();
	$("#comment_container").hide();
	$("#review_container").show();
	{% else %}
	$("#comment_form").show();
	$("#comment_container").show();
	{% endif %}
	
	$("#view_comments").click(function(){
		$("#comment_form").show();
		$("#comment_container").show();
		$("#review_container").hide();
	});
	
	$("#view_reviews").click(function(){
		$("#comment_form").hide();
		$("#comment_container").hide();
		$("#review_container").show();
	});
});
</script>
{% endblock %}