{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container-fluid">
	<div id="proj_sidenav_mobile">
			<nav aria-label="Page navigation">
			  <ul class="pagination">
				
				{% if chapters %}
				{% for c in chapters %}
				<li><a href="#{{ c.chapter_title }}_anchor">{{ c.chapter_no }}</a></li>
				{% endfor %}
				{% endif %}
				{% if current_user.is_authenticated %}
				{% if project.author == current_user %}
				{% if project.date_published is none %}
				<li><a href="#" data-toggle="modal" data-target="#create_chapter_modal">Create chapter</a></li>
				{% endif %}
				{% endif %}
				{% endif %}
				{% if current_user.is_authenticated %}
				{% if project.author == current_user %}
				{% if project.date_published is none and project.date_seek_review is none %}
				<li><a href="#" data-toggle="modal" data-target="#post_for_review_modal">Post for review</a></li>
				{% elif project.date_published is none and project.date_seek_review %}
				<li><a class="btn btn-default" href="{{url_for('project_synopsis', id=project.id, title=project.title )}}">Check comments</a></li>
				{% endif %}
				{% endif %}
				{% endif %}
				{% if current_user.is_authenticated %}
					{% if project.author == current_user %}
						{% if project.date_published is none %}
						<li ><a href="#" data-toggle="modal" data-target="#publish_modal">Publish</a></li>
						{% else %}
							{% if project.is_rated(current_user)%}
							<li><a href="#" data-toggle="modal" data-target="#review_modal" >You scored this book a {{project.is_score(current_user)}}.</a></li>
							{% else %}
							<li><a href="#" data-toggle="modal" data-target="#review_modal" >Rate this book.</a></li>
							{% endif %}
						{% endif %}
					{% else %}
						{% if project.is_rated(current_user)%}
						<li><a href="#" data-toggle="modal" data-target="#review_modal" >You scored this book a {{project.is_score(current_user)}}.</a></li>
						{% else %}
						<li><a href="#" data-toggle="modal" data-target="#review_modal" >Rate this book.</a></li>
						{% endif %}
					{% endif %}
				{% else %}
				<li><a href="#" >Login to rate this book.</a></li>
				{% endif %}
			  </ul>
			 
			</nav>
			
		</div>
	<div class="row">
		<div class="col-md-2 col-sm-2 col-xs-2" id="proj_sidenav" style="border-right:solid 2px #808080; position:fixed; height:100%;">
			{% if current_user.is_authenticated %}
			{% if project.author == current_user %}
			{% if project.date_published is none %}
			{% if form %}
			<div class="col-md-12">
				<p><button class="btn btn-sm btn-default" href="#" data-toggle="modal" data-target="#create_chapter_modal" style="float:right;font-size:12px;">Create chapter</button></p>
			</div>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			<br>
			<div class="col-md-12" style="height:80%;overflow-y:auto;overflow-x:hidden;">
				<ul class="list-group" style="list-style-type:none;">
				{% if chapters %}
				{% for c in chapters %}
					<li><span class="col-md-10 sidenav_list"><a href="#{{ c.chapter_title }}_anchor" rel="internal">{{ c.chapter_title }}</a></span>{% if current_user.is_authenticated %}{% if project.author == current_user or current_user.is_superuser() == True %}{% if project.date_published is none %}<span style="font-size:10px;margin-right: 3px;"><a href="{{url_for('chapter', id=c.id)}}" target="_blank"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit chapter"></span></a></span><span style="font-size:10px;"><a href="#" data-toggle="modal" data-target="#delete_chapter_{{ c.id }}_modal"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="delete chapter"></span></a></span>{% endif %}{% endif %}{% endif %}</li>
				{% endfor %}
				{% endif %}
				<li></li>
				</ul>
				<div class="col-md-12" style="margin-bottom: 0;">
					{% if project.date_published %}
					{% if current_user.is_authenticated %}
					{% if project.is_rated(current_user)%}
					<p><a href="#" data-toggle="modal" data-target="#review_modal" >You scored this book a {{project.is_score(current_user)}}.</a></p>
					{% else %}
					<p><a href="#" data-toggle="modal" data-target="#review_modal" >Rate this book.</a></p>
					{% endif %}
					{% else %}
					<p><a href="#" >Login to rate this book.</a></p>
					{% endif %}
					{% endif %}
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" id="comment_btn">
					{% if current_user.is_authenticated %}
					{% if project.author == current_user or current_user.is_superuser() == True %}
					{% if project.date_published is none and project.date_seek_review is none %}
					<p><button class="btn btn-default" href="#" data-toggle="modal" data-target="#post_for_review_modal"><strong>Post for advice</strong></button></p>
					{% elif project.date_published is none and project.date_seek_review %}
					<p><button class="btn btn-default" href="{{url_for('project_synopsis', id=project.id, title=project.title )}}"><strong>Check comments</strong></button></p>
					{% endif %}
					{% endif %}
					{% endif %}
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" id="publish_btn">
					{% if current_user.is_authenticated %}
					{% if project.author == current_user or current_user.is_superuser() == True %}
					{% if project.date_published is none %}
					<p><button class="btn btn-default" href="#" data-toggle="modal" data-target="#publish_modal"><strong>Publish</strong></button>
					{% endif %}
					{% endif %}
					{% endif %}
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="fb-like" data-href="{{url_for('project', id=project.id, title=project.title )}}" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3">
						<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
				<div class="row" style="margin-bottom:20px;"></div>
			</div>
		</div>
		<div class="col-md-10 col-sm-12 col-xs-12 main_body" style="position:absolute; margin-bottom: 50px;">
			<div class="row" style="margin-bottom:100px;">
				<div class="col-md-2 col-sm-2 col-xs-2"></div>
				<div class="col-md-8 col-sm-8 col-xs-8 text-center">
					<h1 style="font-family: serif;font-weight: bold;">{{ project.title }}</h1>
					<a href="{{url_for('user', username=project.author.username)}}"><h3>By: {{ project.author.username }}</h3></a>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2"></div>
			</div>
			<div class="row" style="font-family: serif;font-size: 18px;">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<ul class="list-group">
						{% if chapters %}
						{% for c in chapters %}
						<!--to make href="#id" of section not on top of page-->
						<span class="anchor" id="{{ c.chapter_title }}_anchor"></span>
						<section >
							<header class="chapter_header"><li name="chapter_{{ c.chapter_no }}" style="list-style:none;"><h2>{{ c.chapter_title }}</h2><span id="chapter_edit_mobile">{% if current_user.is_authenticated %}{% if project.author == current_user or current_user.is_superuser() == True %}<span style="font-size:10px;margin-right: 3px;"><a href="{{url_for('chapter', id=c.id)}}" target="_blank"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit chapter"></span></a></span><span style="font-size:10px;"><a href="#" data-toggle="modal" data-target="#delete_chapter_{{ c.id }}_modal"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="delete chapter"></span></a></span>{% endif %}{% endif %}</span></header>
								<article>
									{% if c.body %}
										{{ c.body|safe }}
									{% endif %}
								</article>
							</li>
						</section> 
						{% endfor %}
						{% endif %}
					</ul>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
	{% if current_user.is_authenticated %}
	{% if project.author == current_user or current_user.is_superuser() == True %}
	{% if project.date_published is none %}
	{% if form %}
	<div class="modal fade" id="create_chapter_modal" tabindex="-1" role="dialog" aria-labelledby="create_chapter_modal_Label">
	  <div class="modal-dialog" role="document" style="height: 50%;width: 80%;">
		<div class="modal-content medium-modal">
		  <div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ wtf.quick_form(form) }}
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	
	{% if project.date_published %}
	<div class="modal fade" id="review_modal" tabindex="-1" role="dialog" aria-labelledby="review_modal_Label">
	  <div class="modal-dialog" role="document" style="height: 80%;width: 80%;">
		<div class="modal-content medium-modal">
		  <div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ wtf.quick_form(form3)}}
			
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}
	
	{% if current_user.is_authenticated %}
	{% if project.author == current_user or current_user.is_superuser() == True %}
	{% if project.date_published is none and project.date_seek_review is none %}
	<div class="modal fade" id="post_for_review_modal" tabindex="-1" role="dialog" aria-labelledby="post_for_review_modal_Label">
	  <div class="modal-dialog" role="document" style="height: 80%;width: 80%;">
		<div class="modal-content small-modal">
		  <div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3>Your project will be posted on the advice page so other users give comment on how you can improve.</h3>
			{{wtf.quick_form(form1)}}
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
	
	{% if current_user.is_authenticated %}
	{% if project.author == current_user or current_user.is_superuser() == True %}
	{% if project.date_published is none %}
	<div class="modal fade" id="publish_modal" tabindex="-1" role="dialog" aria-labelledby="publish_modal_Label">
	  <div class="modal-dialog" role="document" style="height: 80%;width: 80%;">
		<div class="modal-content small-modal">
		  <div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3>Please know that once published, your project cannot be edited.</h3>
			{{wtf.quick_form(form2)}}
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
</div>	
	
	
{% endblock %}

{% block styles %}
{{ super() }}
<!--Facebook share button-->
 <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="{{url_for('project', id=project.id, title=project.title )}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{ project.title }}" />
  <meta property="og:description"   content="project.synopsis" />
  <!--meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" /-->
<style>
	.modal-dialog,
	.medium-modal {
		/* 80% of window height */
		height: 90%;
		width: 60%;
		margin: 0 auto;
		margin-top: 10%;
	}
	
	.modal-dialog,
	.small-modal {
		/* 80% of window height */
		height: 60%;
		width: 60%;
		margin: 0 auto;
		margin-top: 10%;
	}
	
	#publish_project {
		color:#0884e6;
		font-weight: bold;
	}
	#post_for_advice {
	color:#0884e6;
	font-weight: bold;
	}

	.modal-body {
		/* 100% = dialog height, 120px = header + footer */
		max-height: calc(100% - 20px);
		/*overflow-y: scroll;*/
	}
	
	/*to make href="#id" of section not on top of page*/
	.anchor {
	  display: block;
	  height: 100px; /*same height as header*/
	  margin-top: -100px; /*same height as header*/
	  visibility: hidden;
	}
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.navbar-brand img {display: inline;}
	#proj_sidenav_mobile { display: none; }
	#chapter_edit_mobile { display: none;}
	.main_body {
		margin-left: 17%;
	}
	
	.sidenav_list {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		/*transform: translateX(0);
		transition: 1s;*/
	}
	
	/*.move_left:hover {
		width: auto;
		transform: translateX(calc(200px - 100%));
	}*/
	
	
	@media (max-width: 960px) {
	  #proj_sidenav     { display: none; }
	  #comment_btn { display: none; }
	  #publish_btn { display: none; }
	  #publish_project {
		color:#0884e6;
		font-weight: bold;
	  }
	  #post_for_advice {
		color:#0884e6;
		font-weight: bold;
	  }
	  #proj_sidenav_mobile { 
		display: inline-block;
		margin-top: 34px;
		position: fixed;
		z-index: 99;
		bottom: 0;
		left: 0;
		}
		#chapter_edit_mobile {
			display: inline-block;
		}
		.main_body {
			margin-left: 0;
		}
	}
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<!--script>
$(document).ready(function() {
	$(".sidenav_list a span").each(function() {
		var lengthVal=($(this).text().length);
		  if(lengthVal>16){
			$(".sidenav_list").addClass("move_left");
		  }
	});
});
</script-->

{% endblock %}