{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <table>
        <tr valign="top">
			<td>
				{% if user.profile_pic %}<span><img src="{{ user.profile_pic }}" alt="user profile pic" style="width: 256px; height: 256px;display: inline;border-radius: 35px;margin:20px;"></span>{% endif %}
				
			</td>
			<td>
			`	<h1>{{ user.username }}</h1>
				{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
				{% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
				<p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
				{% if current_user.is_authenticated %}{% if user == current_user %}
				<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
				{% elif not current_user.is_following(user) %}
				<a href="{{ url_for('follow', username=user.username) }}"><button class="btn btn-sm btn-info">Follow</button></a>
				{% else %}
				<a href="{{ url_for('unfollow', username=user.username) }}"><button class="btn btn-sm btn-warning">Unfollow</button></a>
				{% endif %}{% endif %}
			</td>
        </tr>  
		
    </table>
    <hr>
    <div class="row">
		<div class="col-md-6">
			{% if current_user.is_authenticated %}
			{% if user == current_user %}
			<p><button class="btn btn-default" href="#" data-toggle="modal" data-target="#create_project_modal" style="float:right;"><strong>Create Project</strong></button></p>
			{% endif %}
			{% endif %}
			<h3>Portfolio</h3>
			<ul class="nav nav-pills nav-stacked" role="tablist">
				{% if portfolio %}
				{% for p in portfolio %}
				{% if current_user.is_authenticated and user == current_user or  current_user.is_authenticated and current_user.is_superuser() == True %}
				<li>
					{% if p.date_published %}
					<a href="{{ url_for('project', id=p.id, title=p.title) }}">
						<div> {{ p.title }} </div> 
						<div> Published: {{ moment(p.date_published).format('L') }}  &nbsp;</div>
					</a>
					{% else %}
					<a href="{{ url_for('project', id=p.id, title=p.title) }}" style="width:75%; display:inline-flex;">
						<span> {{ p.title }} </span> 
					</a>
					<a href="#" data-toggle="modal" data-target="#project_edit_modal_{{ p.id }}" style="width:8%;display:inline-flex;">
						<span class="glyphicon glyphicon-pencil" title="edit project name" aria-hidden="true" style="float:right;"></span>
					</a>
					<a href="#" data-toggle="modal" data-target="#project_delete_modal_{{ p.id }}" style="width:8%;display:inline-flex;">
						<span class="glyphicon glyphicon-trash" title="delete project" aria-hidden="true" style="float:right;"></span>
					</a>
					{% endif %}
				</li>
				{% else %}
					{% if p.date_published %}
					<li><a href="{{ url_for('project_synopsis', id=p.id, title=p.title) }}"><span> {{ p.title }} </span> <span style="float:right;">{% if p.date_published %} Published: {{ moment(p.date_published).format('L') }} {% endif %}</span></a></li>
					{% else %}
					<li role="presentation"><a href="#" data-toggle="modal" data-target="#project_modal_{{ p.id }}">{{ p.title }}</a></li>
					{% endif %}
				{% endif %}
				{% endfor %}
				{% endif %}
			</ul>
		</div>
		<div class="col-md-6">
			<h3>Library</h3>
			<ul class="nav nav-pills nav-stacked" role="tablist">
				{% if library %}
				{% for l in library %}
				{% if current_user.is_authenticated and user == current_user %}
				<li><a href="{{ url_for('project', id=l.id, title=l.title) }}"><div> {{ l.title }} </div> <div> Published: {{ moment(l.date_published).format('L') }}</div></a></li>
				{% else %}
				<li><a href="{{ url_for('project_synopsis', id=l.id, title=l.title) }}"><span> {{ l.title }} </span> <span style="float:right;"> Published: {{ moment(l.date_published).format('L') }}</span></a></li>
				<!--li role="presentation"><a href="#" data-toggle="modal" data-target="#library_modal_{{ l.id }}">{{ l.title }}</a></li-->
				{% endif %}
				{% endfor %}
				{% endif %}
			</ul>
		</div>
	</div>
	
	<div class="modal fade" id="create_project_modal" tabindex="-1" role="dialog" aria-labelledby="create_project_modalLabel" style="font-family: 'Merriweather', serif; color:#f50000;">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="modal_close_btn" aria-hidden="true">&times;</span></button>
			<div><h2>Create your story</h2></div>
			<br>
			{{ wtf.quick_form(form) }}
		  </div>
		</div>
	  </div>
	</div>
	{% if portfolio %}
	{% for p in portfolio %}
	{% if current_user.is_anonymous or user != current_user %}
	<div class="modal fade" id="project_modal_{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="project_{{p.id}}_modalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h2 class="text-center">{{ p.title }}</h2>
			<div>{{ p.synopsis }}</div>
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}
	
	{% if current_user.is_authenticated and user == current_user or current_user.is_authenticated and current_user.is_superuser() == True %}
	<div class="modal fade" id="project_edit_modal_{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="project_{{p.id}}_edit_modalLabel" style="font-family: 'Merriweather', serif; color:#f50000;">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<form action method="post" class="form" enctype="multipart/form-data" role="form">
			{{ form2.csrf_token(id='csrf_token_' + p.id|string) }}
			{{ form2.proj_id (value=p.id, id='proj_id_' + p.id|string) }}
			{{ form2.edit_title.label (class_='control-label') }}
			{{ form2.edit_title (class_='form-control', value=p.title, id='edit_title_' + p.id|string ) }}
			{{ form2.edit_genre.label (class_='control-label') }}
			{{ form2.edit_genre (class_='form-control', value=p.pg_name, id='edit_genre' + p.id|string ) }}
			
			<br>
			{{ form2.edit_synopsis.label (class_='control-label') }}
			<textarea class="form-control" name="edit_synopsis" cols="15" rows="8" maxlength="1000" required>{{p.synopsis}}</textarea>
			<br>
			{{ form2.edit_cover_pic_link.label (class_='control-label') }}
			{{ form2.edit_cover_pic_link (class_='form-control', value=p.cover_pic_link, id='edit_cover_pic_link' + p.id|string)}}
			<br>
			{{ form2.edit_cover_pic.label (class_='control-label') }}
			{{ form2.edit_cover_pic  (id='edit_cover_pic_' + p.id|string )}}
			<br>
			{{ form2.edit_cover_pic_credit.label (class_='control-label') }}
			{{ form2.edit_cover_pic_credit (class_='form-control', value=p.cover_pic_credit, id='edit_cover_pic_credit' + p.id|string )  }}
			<br>
			{{ form2.edit_submit (class_="btn btn-default", id='edit_submit_' + p.id|string)}}
			</form>
		  </div>
		</div>
	  </div>
	</div>
	
	<div class="modal fade" id="project_delete_modal_{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="project_{{p.id}}_delete_modalLabel" style="margin-top: 10%;">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div><h4>Are you sure you want to delete this project and its chapters?<h4></div>
			<div><a class="btn btn-danger" href="{{ url_for('delete_project', id=p.id) }}">Delete</a></div>
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	
	{% if current_user.is_authenticated and user != current_user %}
	{% if library %}
	{% for l in library %}
	<div class="modal fade" id="library_modal_{{ l.id }}" tabindex="-1" role="dialog" aria-labelledby="library_{{ l.id }}modalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h2 class="text-center">{{ l.title }}</h2>
			<div>{{ l.synopsis }}</div>
		  </div>
		</div>
	  </div>
	</div>
	{% endfor %}
	{% endif %}
	{% endif %}
</div>
{% endblock %}


{% block styles %}
{{super()}}
<style>
	.btn-default:active:hover, .btn-default:active:focus{ 
		background-color: #ffebee;
		
	   }
	.btn-default:hover, .btn-default:focus { 
		background-color: #ffebee;
		
	   }
	.btn-default:active { 
		background-color: #ffebee;
		
		}
		
	.form-container {
		position: absolute;
		margin-top: 25%;
		width: 40%;
		margin-left: 31%;
		color: #f50000;
	}
	#submit, #edit_submit {
		color: #f50000;
		font-size: large;
		border-color : #f50000;
	}
	#register {
		color: #f50000;
		font-size: large;
		border-color : #f50000;
	}
	.form-control {
		border-color: #ffcdd2;
	}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(document).ready(function() {
	
});
$("#cover_pic").on("change", function (e) {
	var size = $(this)[0].files[0].size;
	if (size > 629145) {
		$(this).after("<p id='file_size_alert' class='alert alert-danger alert-dismissible' role='alert'>File size too large! Please change or edit image size.</p>");
		$("#submit").css('display', 'none');
	}
	else{
		$("#file_size_alert").css('display', 'none');
		$("#submit").css('display', 'block');
	}
});

{% for p in portfolio %}

$("#edit_cover_pic_{{p.id}}").on("change", function () {
var size = $(this)[0].files[0].size;
	if (size > 629145) {
		$(this).after("<p id='edit_file_size_alert' class='alert alert-danger alert-dismissible' role='alert'>File size too large! Please change or edit image size.</p>");
		$("#edit_submit_{{p.id}}").css('display', 'none');
	}
	else{
		$("#edit_file_size_alert").css('display', 'none');
		$("#edit_submit_{{p.id}}").css('display', 'block');
	}
});

{% endfor %}
</script>
{% endblock %}